<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <a class="navbar-brand" href="#">QRCodeApp</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/generate">Generate <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/scan">Scan</a>
      </li>
    </ul>
  </div>
</nav>

<button *ngIf="Pwa.promptInstallEvent" (click)="installPwa()">
  Install App
</button>

<router-outlet></router-outlet>

<footer class="page-footer font-small text-secondary bg-dark fixed-bottom" id="footer">
  <div class="footer-copyright text-center py-3">© 2019 Copyright: <u>Rafał Sekular</u>
    <a target="_blank" href="https://github.com/seko47" class="ml-1"><i class="fa fa-github"></i></a>
    <a href="mailto:rafalsekular96@gmail.com" class="ml-1"><i class="fa fa-envelope"></i></a>
  </div>
</footer>